/* - Linear gradient (active input border): hsl(249, 99%, 64%) to hsl(278, 94%, 30%)
- Red (input errors): hsl(0, 100%, 66%)
- White: hsl(0, 0%, 100%)
- Light grayish violet: hsl(270, 3%, 87%)
- Dark grayish violet: hsl(279, 6%, 55%)
- Very dark violet: hsl(278, 68%, 11%) */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
}

/* Cards */
.main-container {
    background-image: url(images/bg-main-desktop.png);
    background-repeat: no-repeat;
    height: 100vh; 
    display: flex;
    justify-content: space-around;
    padding-top: 5rem;
}

.cards {
    width: 40%;
    /* border: 1px solid red; */
}

.card-front {
    background-image: url(images/bg-card-front.png);
    background-repeat: no-repeat;
    height: 16rem;
    color: hsl(0, 0%, 100%);
    padding: 2rem;
    /* border: 1px solid red; */
}

.name-exp {
    display: flex;
    justify-content: space-between;
}

.credit-card {
    width: 25rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-size: 0.9rem;
}

.card-number {
    padding: 4rem 0 1.8rem;
    letter-spacing: 0.3rem;
    word-spacing: 0.3rem;
    font-size: 25px;
}

.card-back {
    background-image: url(images/bg-card-back.png);
    background-repeat: no-repeat;
    height: 16rem;
    margin-left: 5rem;
    margin-top: 1.5rem;
}

.card-back p {
    padding: 6.8rem 0 0 22.5rem;
    color: white;
}


/* User Form */

.flex {
    display: flex;
    width: 25rem;
    margin-right: 5rem;
    /* border: 1px solid red; */
}

.form {
    height: 15rem;
    margin-top: 5rem;
    /* border: 1px solid red; */
}

.bottom-form {
    display: flex;
    padding-bottom: 2rem;
}

.name {
    margin-bottom: 0.5rem;
}

form {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.9rem;
    color: hsl(278, 68%, 11%);
}

input {
    width: 100%;
    height: 2.5rem;
    padding-left: 0.8rem;
    margin-top: 0.5rem;
    font-family:  'Space Grotesk', sans-serif;
    border-radius: 0.5rem;
    border: 1px solid  hsl(270, 3%, 87%);
    font-size: 1rem;
    cursor: pointer;
}

.form-box {
    padding: 1rem 0 1.5rem 0;
}

input:focus {
    outline: none;
    background: linear-gradient(white, white) padding-box, linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%)) border-box;
    border: 1px solid transparent;
}

::placeholder {
    color: hsl(270, 3%, 87%);
}

.box {
    width: 5.7rem;
}

.btn {
    width: 100%;
    height: 3.5rem;
    background-color:hsl(278, 68%, 11%);
    color: hsl(270, 3%, 87%);
    font-family: 'Space Grotesk', sans-serif;
    border-radius: 0.5rem;
    border: none;
    font-size: 17px;
    cursor: pointer;
}

.btn:hover {
    background-color: hsl(279, 46%, 19%);
}

/* Thank You */
.thank-you {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 17rem;
    justify-content: space-between;
    margin-top: 7rem;
    width: 100%;
    /* border: 1px solid red; */
    /* display: block; */
}

.thank-you img {
    height: 5rem;
    width: 5rem;
    margin: 0 auto;
}

.thank-you p {
    color: hsl(279, 6%, 55%);
}

.end {
    color: hsl(278, 68%, 11%);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

/* Card and Form Hidden */

.hidden {
    display: none;
}

.error {
    /* display: none; */
    /* border: 1px solid red; */
    font-size: 0.8rem;
    color: hsl(0, 100%, 66%);
    text-transform: none;
    letter-spacing: normal;
    margin-top: 0.5rem;
}

.error-border-color {
    border-color: hsl(0, 100%, 66%);
}